<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXqlvt.Properties.Settings.QLVTConnectionString" connectionString="Data Source=DESKTOP-7SU81BF\\SQLEXPRESS;Initial Catalog=QLVT;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="uuy487ow0xhudvv\sqlexpress.qlvb.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=Data Source=UUY487OW0XHUDVV;integrated security=SSPI;initial catalog=qlvb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
